/*
    Name: Nuo Chen
    Date: April 10, 2019
    Section: CSE 154 AM
    This is the page define the style of the whole page
    of debugging dog, including header, main and footer
    three parts.
*/
/* TODO: Remember a file comment as per the spec! */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
.side-by-side {
  display: flex;
}

/* TODO: Add all of your CSS for non-creative-section parts of HW1 here! */
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Space Mono', monospace;
  background-image: url('img/dog-footprint.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #FEE8C8;
}

h1, #endorsements, footer {
  background-color: #34495E;
  color: #EBEDEF;
}

a:link    { color: purple; } /* unvisited link */
a:visited { color: midnightblue; } /* visited link */

/*
main
*/
main {
  margin-top: 8%;
  margin-bottom: 4%;
  border-radius: 5px;
}

main>section {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

/*
all headers
*/
h1, h2, h3{
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

/*
secondl level headers
*/
h2 {
  font-size: 1.6em;
  text-transform: uppercase;
}

/*
header
*/
header {
  height: 350px;
  background-image: url('img/header-background.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 3.1em;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

header img {
  width: 300px;
  height: 100%;
  border: 10px solid white;
  border-radius: 200px;
}

#profilepic {
  padding-top: 3%;
  padding-left: 75%;
}

/*
footer
*/
footer {
  padding: 20px;
  border-radius: 5px;
  font-size: 1vw;
  text-align: center;
}

footer img {
  height: 70px;
  vertical-align: middle;
  margin-right: 10px;
}

#endorsements blockquote, #background{
  background-color: #EBEDEF;
  color: #34495E;
}

/*
id=background
*/
#background {
  margin: 10px;
}

#background #facts {
  border-top: 5px solid #34495E;
  border-bottom: 5px solid #34495E;
}

#background img {
  width: 300px;
  height: 100%;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
id=endorsement
*/

#endorsements img {
  width: 30vw;
  max-width: 400px;
  height: 100%;
}

#endorsements blockquote {
  text-align: center;
  border-left: 10px solid #AEB6BF;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#endorsements hr {
  width: 40%;
}

#endorsements cite {
  font-style: italic;
}

/********** Begin CSS for the Creative Section Here **********/

/* TODO: Do NOT remove the "Begin CSS ..." and "End CSS..." comments
 * (they are used for grading consistency), but DO replace _this_ comment with
 * your (un-commented) Creative Section CSS ! */
#creative {
  background-color: #d4eaff;
  color: #32363a;
}

#creative h3 {
  font-size: 30px;
  border: 5px solid #1ebabb;
  border-radius: 5px;
}
#creative img{
  width: 30vw;
  max-width: 400px;
  height: 100%;
}

#creative ol {
  margin-right: 10px;
  border: 5px solid #dead4f;
  font-size: 20px;
}

#creative p {
  margin-right: 10px;
  padding: 10px;
  border: 3px solid #34495E;
  font-size: 20px;
}

/********** End CSS for the Creative Section Here   **********/
